/* LABELS */

.label-cadastro{
    width: 100%;

    color: white;

    text-align: left;

    margin-bottom: 6px;

    font-weight: 500;

    font-size: 0.95rem;
}

/* ERRO */

#erroCadastro{
    text-shadow:
        0 0 5px rgba(255,0,0,0.4),
        0 0 10px rgba(255,0,0,0.2);
}