/* LABELS */

.label-cadastro{
    width: 100%;

    color: white;

    text-align: left;

    margin-bottom: 6px;

    font-weight: 500;

    font-size: 0.95rem;
}

/* ERRO */

#erroCadastro{
    text-shadow:
        0 0 5px rgba(255,0,0,0.4),
        0 0 10px rgba(255,0,0,0.2);
}

.titulo{
    text-align: center;
    margin-top: 30px;
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    font-weight: 900;
    color: #ffffff;
    letter-spacing: 1px;
    text-shadow:
        0 0 5px #000000,
        0 0 15px #000000,
        0 0 30px rgba(255,204,112,0.2);
}